BODY
{
	background-color: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #000000;
	SCROLLBAR-BASE-COLOR: #000000;
	SCROLLBAR-FACE-COLOR: #EEEEEE;
	SCROLLBAR-HIGHLIGHT-COLOR: #9C9C9C;
	SCROLLBAR-3DLIGHT-COLOR: #D1D1D1;
	SCROLLBAR-ARROW-COLOR: #9C9C9C;
	SCROLLBAR-SHADOW-COLOR: #EEEEEE;
}
.calendar
{
	color: #E99736;
	font-weight: bold;
	text-align: center;
	font-size: 8pt;
}
.calendar-day
{
	font-weight: bold;
	font-size: 8pt;
	color: #818181;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.calendar-weekdays
{
	color: #797979;
	font-weight: bold;
	text-align: center;
	background-color: #F3F3F3;
}
.calendar-weeked
{
	color: #484848;
	text-align: center;
	background-color: #F3F3F3;
	font-weight: bold;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
}
.calendar-today
{
	font-weight: bold;
	font-size: 8pt;
	text-align: center;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
.calendar-link
{
	font-weight: bold;
	font-size: 8pt;
	text-align: center;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
.calendar-thisday
{
	font-weight: bold;
	font-size: 8pt;
	text-align: center;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
.postTime
{
	font-weight: bold;
	font-size: 8pt;
	color: #AFAFAF;
	font-family: Arial, Helvetica, sans-serif;
}
.class
{
	font-weight: bold;
	color: #4D4D4D;
}
A.class:link
{
	color: #4D4D4D;
	text-decoration: underline;
}
A.class:hover
{
	color: #4D4D4D;
	text-decoration: none;
}
A.class:visited
{
	color: #4D4D4D;
}
.panel
{
}
.loadingContent
{
	height: 25%;
	width: 100%;
	position: absolute;
	top: 40%;
	left: 0%;
	text-align: center;
	z-index: 0;
}
.loadingImage
{
	background: transparent url(black_loading.gif) no-repeat scroll 0pt;
	height: 70px;
	width: 150px;
}
.headerBack
{
	background-color: #373737;
}
.headerSplitLine
{
	background-color: #ffffff;
}
.headerBottomLine
{
	background-color: #BBBBBB;
}
.headerTitleLine
{
	background-color: #F0F0F0;
}
.headerSlogan
{
	color: #ffffff;
	font-weight: bold;
	margin-left: 10px;
}
.sidebarInfoFont
{
	color: #1A1A1A;
}
.blogTitle
{
	background-color: #F0F0F0;
}
.blogContentBg
{
	background-color: #F4F4F4;
}
.blogLine
{
	background-color: #BBBBBB;
}
.blogAlertFont
{
	color: #ff0000;
}
.contentTitle
{
	color: #454343;
}
