BODY
{
	font-size: 12px;
	margin: 0px;
	font-variant: small-caps;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, "宋体";
}
TABLE
{
	font-size: 12px;
	color: #585A5E;
	line-height: 16px;
	font-family: Verdana;
	text-decoration: none;
}
A:link
{
	color: #585A5E;
	text-decoration: none;
}
A:active
{
	color: #585A5E;
	text-decoration: underline;
}
A:visited
{
	color: #585A5E;
	text-decoration: none;
}
A:hover
{
	color: #585A5E;
	text-decoration: underline;
}
A.menu:link
{
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
A.menu:hover
{
	font-size: 12px;
	color: #ffffff;
	text-decoration: underline;
}
A.menu:visited
{
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
A.menu:active
{
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.menu
{
	font-size: 12px;
	color: #585A5E;
	font-family: "宋体";
}
input
{
	border: 1px solid #C0C0C0;
	padding: 1px;
	font-family: Tahoma, Verdana, "宋体";
	font-size: 11px;
	font-size: 12px !important;
	height: 19px;
	color: #000000;
	background-color: #FFFFFF;
}
textarea
{
	border: 1px solid #C0C0C0;
	background-color: #F6F6F6;
	font-family: "Tahoma" , "Verdana" , "宋体";
	font-size: 11px;
	font-size: 12px !important;
	color: #000000;
}
select
{
	font-family: Tahoma, Verdana, "宋体";
	font-size: 11px;
	font-size: 12px !important;
	color: #000000;
	background-color: #FFFFFF;
}
.content
{
	font-size: 14px;
	color: #585A5E;
	line-height: 20px;
}
.topic
{
	font-size: 16px;
	color: #56a7dd;
}
.new
{
	font-weight: bold;
	font-size: 8pt;
	color: #ff6600;
	font-family: Arial, Helvetica, sans-serif;
}
.postFoot
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 7pt;
	padding-bottom: 1px;
	padding-top: 1px;
	text-align: right;
}
.border
{
	background-color: #eaeaea;
	text-decoration: none;
}
.smallFont
{
	font-weight: bold;
	font-size: 11px;
}
.ubb_code
{
	font-family: "Courier New" , "宋体";
	background-color: #EFEFEF;
	color: #000000;
	margin: 10px;
	padding: 15px;
}
.ubb_quote
{
	background-color: #FFFFFF;
	color: #585A5E;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #CCCCCC;
}
.ubb_quote_title
{
	font-weight: bold;
	color: #585A5E;
	border-bottom: 1px dashed #CCCCCC;
}
.ubb_showobj
{
	background-color: #FFFFFF;
	color: #585A5E;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px dashed #CCCCCC;
}
.showInTop
{
	color: Red;
	font-weight: bold;
}
.friends
{
	margin:0px;
	list-style-type:none;
	text-align: left;
	padding-left: 6px;
}
.friends li
{
	font-weight:bold;
	margin:3px;
}