.i_defaultSkin
{
	padding-top: 4px;
	cursor: default;
	font: menutext;
	position: absolute;
	text-align: left;
	font-family: "ו";
	font-size: 10pt;
	width: 100px;
	background-color: menu;
	visibility: hidden;
	border: 2px outset buttonhighlight;
}

.i_menuItems
{
	font-family: "ו";
	font-size: 12px;
	padding: 2px 1px 2px 10px;
}

.i_searchPanelSkin
{
	visibility: hidden;
	position: absolute;
	z-index: 100;
	width: 350px;
	height: 420px;
	overflow:hidden;
	border: 1px dotted blue;
}

.i_searchFrameSkin
{
	width: 350px;
	height:430px;
}

.i_closeSearchPanelSkin
{
	float:right;
	background-color:Black;
	color:White;
	border: solid 1px Green;
	width:15px;
	height:15px;
	z-index: 500;
	text-align:center;
}